<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
    <script src="lib/backgrid.js"></script>
    <script src="lib/backbone.paginator.min.js"></script>
    <script src="lib/backgrid-paginator.js"></script>
    <script src='lib/textcell.js'></script>
</head>
<body>
<div id="main">
    <div class="container">
        <div class="main-content" id="mainContent">
        </div>
        <div id="paginator"></div>
    </div>
</div>
<script type="text/x-underscore-template" id="itemTemplate">
    <div class="user">
        <div class="user__avatar">
            <img src="<%= user.avatar_url %>" alt="">
        </div>
        <div class="user__name">
            <%= user.login %>
        </div>
    </div>
</script>
<script type="text/javascript">
    var App = {
        collections: {},
        models: {},
        views: {},
        init: function() {
            var location = window.location;
            var items = new App.collections.Items();
            if (location.hash) {
                items.state.currentPage = +location.hash.substring(1);
            }
            App.views.items = new App.views.Items({collection:items});
            var paginator = new Backgrid.Extension.Paginator({
                collection: items
            });
            $("#paginator").append(paginator.render().$el);
            items.fetch({reset: true});
        }
    };
</script>
<script src="models/item.js"></script>
<script src="collections/items.js"></script>
<script src="views/items.js"></script>
<script src="views/item.js"></script>
<script type="text/javascript">
    $(App.init);
</script>
</body>
</html>